{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} | GreenLife{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="flex flex-col min-h-screen bg-gray-100">
    <nav class="bg-green-500 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <h1 class="text-white text-xl"> GreenLife</h1>
            <ul class="flex space-x-4 text-white">
                <li><a href="{% url 'home' %}" class="hover:text-gray-200">Home</a></li>
                <li><a href="{% url 'Plans' %}" class="hover:text-gray-200">Plans</a></li>
                <li><a href="{% url 'About' %}" class="hover:text-gray-200">About Us</a></li>
                <li><a href="#" class="hover:text-gray-200">Contact</a></li>
                <li><a href="{% url 'signup' %}" class="px-6 py-3 text-green-500 rounded-lg hover:text-gray-500 bg-white">Sign Up</a></li>
                <li><a href="{% url 'signin' %}" class="px-6 py-3 text-green-500 rounded-lg hover:text-gray-500 bg-white">Sign In</a></li>
            </ul>
        </div>
    </nav>


    <div class="container mx-auto flex-grow py-8">
        
        {% block content %}
        {% endblock %}
    </div>

    <footer class="bg-green-500 py-4 mt-auto">
        <div class="container mx-auto text-center text-white">
            <p>&copy; 2024 GreenLife Waste Management. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
