{% extends 'base.html' %}

{% block title %}Plans | GreenLife{% endblock %}

{% block content %}
<div class="container mx-auto">
    <h2 class="text-2xl font-bold mb-4">Plans</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        
        <div class="bg-white p-6 rounded-lg shadow-md">
            <h3 class="text-xl font-semibold mb-4">Domestic</h3>
            <p class="mb-4">Pricing based on number of pickups per week:</p>
            <ul class="mb-4">
                <li>Once a week: GHC 20</li>
                <li>Twice a week: GHC 35</li>
            </ul>
        </div>

        
        <div class="bg-white p-6 rounded-lg shadow-md">
            <h3 class="text-xl font-semibold mb-4">Business</h3>
            <p class="mb-4">Custom pricing based on number of pickups per week.</p>
            <p class="mb-4">Contact us for a personalized quote.</p>
        </div>

        
        <div class="bg-white p-6 rounded-lg shadow-md">
            <h3 class="text-xl font-semibold mb-4">Community</h3>
            <p class="mb-4">Pricing based on number of pickups per week:</p>
            <ul class="mb-4">
                <li>Once a week: GHC 25</li>
                <li>Twice a week: GHC 45</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
